
    <button class="btn btn-secondary" (click)="calcular('suma')">+</button>
    <button class="btn btn-secondary" (click)="calcular('resta')">-</button>
    <button class="btn btn-secondary" (click)="calcular('multiplicacion')">×</button>
    <button class="btn btn-secondary" (click)="calcular('division')">÷</button>
    <button class="btn btn-secondary" (click)="calcular('potencia')">^</button>
    <button class="btn btn-secondary" (click)="calcular('raiz')">√</button>
    <button class="btn btn-danger" (click)="reset()">CE</button>